### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# mypy
.mypy_cache/
.dmypy.json
dmypy.json


# C++ bindings for matrix hardware
bindings/


# Debugging directories
render/*
debug/*